@font-face {
  font-family: "iconfont"; /* Project id 2827620 */
  src: url('iconfont.woff2?t=1632302411312') format('woff2'),
       url('iconfont.woff?t=1632302411312') format('woff'),
       url('iconfont.ttf?t=1632302411312') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-strikethrough:before {
  content: "\e7d2";
}

.icon-01jiacu:before {
  content: "\e681";
}

.icon-02xieti:before {
  content: "\e682";
}

.icon-03xiahuaxian:before {
  content: "\e683";
}

.icon-04shanchuxian:before {
  content: "\e684";
}

.icon-20xiangmufuhao:before {
  content: "\e694";
}

.icon-21bianhaogeshi:before {
  content: "\e695";
}

.icon-24zitiyanse:before {
  content: "\e69a";
}
