.header {
  height: 40px;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);

  &-left {
    display: flex;
    .icon-add-select {
      font-size: 20px;
    }

    &__title {
      padding: 10px 0px 0px 12px;
    }

    span {
      font-size: 17px;
      font-weight: 100;
    }
  }

  &-center {
    flex: 1;
    margin-top: 5px;
    -webkit-app-region: drag;
  }
}
