.notes {
  height: calc(100vh - 72px);
  overflow-y: overlay;
  padding: 15px 10px;

  .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .search {
    margin-bottom: 15px;

    input {
      height: 30px;
      line-height: 30px;
      width: calc(100% - 26px);
      outline: none;
      padding: 0 12px;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      background-color: #eee;
    }
  }

  &-empty {
    color: #666;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
  }
}

.note-item {
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  padding: 16px;

  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  &__content {
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__date {
    text-align: right;
    color: #666;
    font-size: 13px;
    margin-top: 10px;
  }
}
